<div
  class="offcanvas offcanvas-end cart-modal"
  tabindex="-1"
  id="offcanvasCart"
  aria-labelledby="offcanvasCartLabel"
  data-bs-scroll="true"
  data-bs-backdrop="false"
>
  <div class="offcanvas-header text-center">
    <h5 class="offcanvas-title font-semibold text-xl" id="offcanvasCartLabel">
      Cart
    </h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
      (click)="closeToggleModal()"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div *ngIf="!cartItems?.length || cartItems.length === 0">
      <div class="flex justify-center items-center h-[300px]">
        <div class="text-center">
          <img
            src="/assets/images/empty-cart.png"
            alt="Empty Cart"
            title="Empty Cart"
            class="w-[120px] mx-auto"
          />
          <div class="text-lg font-semibold mt-4">Your cart is empty</div>
          <div class="text-slate-500 mt-2">
            Looks like you haven't added any items to the cart yet.
          </div>
          <button
            class="btn btn-primary mt-4"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
            (click)="continueShopping()"
          >
            Continue Shopping
          </button>
        </div>
      </div>
    </div>

    <div class="cart-scroll" *ngIf="cartItems.length > 0">
      <div *ngFor="let cart of cartItems">
        <div class="flex justify-between pt-3">
          <div>
            <div class="flex text-left">
              <div class="mr-3">
                <img
                  [src]="'/assets/flags/' + cart?.countryname + '.svg'"
                  [alt]="cart?.countryname + ' flag'"
                  class="size-8 rounded-full"
                  [title]="cart?.countryname + ' flag'"
                />
              </div>
              <div>
                <div class="text-slate-900 font-semibold leading-normal mr-3">
                  {{ cart?.planename }}
                </div>
                <div class="max-w-[400px]">{{ cart?.countryname }}</div>
                <div class="border mt-2 max-w-[110px]">
                  <button
                    type="button"
                    class="inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 hover:underline h-9 py-2 px-2"
                    (click)="decrementQuantity(cart)"
                  >
                    -
                  </button>
                  <button
                    type="button"
                    class="inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 hover:underline h-9 px-4 py-2"
                  >
                    {{ cart.quantity }}
                  </button>
                  <button
                    type="button"
                    class="inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 hover:underline h-9 py-2 px-2"
                    (click)="incrementQuantity(cart)"
                  >
                    +
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="text-black text-[15px] font-medium">
              <div class="whitespace-nowrap">
                $ {{ (cart.quantity * cart.sellingcost).toFixed(2) }}
              </div>
            </div>
            <div
              class="text-red-500 mt-1 cursor-pointer"
              (click)="removeFromCart(cart)"
            >
              REMOVE
            </div>
          </div>
        </div>
        <div class="border-b opacity-50 border-slate-200 w-full mt-3"></div>
      </div>
    </div>

    <div
      class="absolute bottom-[70px] md:bottom-0  w-full left-0 px-4 pt-5 pb-2 bg-white"
      *ngIf="cartItems.length > 0"
    >
      <div class="flex flex-col justify-center text-center">
        <div class="text-black text-lg font-semibold flex justify-center">
          Total :
          <div class="whitespace-nowrap">{{ " " }}${{ getCartTotal() }}</div>
        </div>

        <button
          class="btn btn-primary"
          (click)="checkout()"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          Proceed to Checkout
        </button>
        <button
          class="inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 text-primary hover:underline h-9 px-4 py-2 mt-2"
          (click)="continueShopping()"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          Continue Shopping
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<span
  data-bs-toggle="modal"
  data-bs-target="#loginModal"
  #authLoginModal
></span>
