<section class="dual-banner md:mt-6">
  
  <div class="container">
    <!-- <div class="grid md:grid-cols-2 md:gap-6">
      <div class="mb-1 md:mb-0">
        <button>
          <img
            src="assets/images/banner-2025.png"
            alt="2025 Coupon Code eSIM"
            title="2025 Coupon Code eSIM"
            class="img-fluid"
          />
        </button>
      </div>

      <div>
        <app-europe-esim></app-europe-esim>
      </div>
    </div> -->

    <!-- <div class="grid md:grid-cols-2 md:gap-6 md:mt-6">
      <div class="usa-banner mb-1 md:mb-0">
        <img
          src="assets/images/usa-banner.webp"
          alt="USA Banner"
          title="USA Banner"
          class="img-fluid"
        />
        <div class="btn-wrapper">
          <button [routerLink]="['/esim-detail/USA-Unlimited-Data-with-Calls-15Days']" class="btn  first">
            Get 15 Days Plan
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-chevron-right"
            >
              <path d="m9 18 6-6-6-6" />
            </svg>
          </button>
          <button [routerLink]="['/esim-detail/USA-Unlimited-Data-with-Calls-30-Days']" class="btn  second">
            Get 30 Days Plan
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-chevron-right"
            >
              <path d="m9 18 6-6-6-6" />
            </svg>
          </button>
        </div>
      </div>

      <div>
        <div>
          <button [routerLink]="['/free-esim']">
            <img
              src="assets/images/travel-smart.webp"
              alt="Free eSIM Banner"
              title="Free eSIM Banner"
              class="img-fluid"
            />
          </button>
        </div>
      </div>
    </div> -->
  </div>
</section>
