<section class="page-title">
  <h1>Invite Friends</h1>
</section>

<div class="acount-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <app-user-navigation></app-user-navigation>
      </div>
      <div class="col-md-8">
        <div class="widget">
          <div class="account-info-base">
            <div class="form-bg-account">
              <div class="row">
                <div class="col-md-12">
                  <div class="sharefrind">
                    <h3>Invite a Friend via social media</h3>
                    <p>Invite friends who want to buy e-sim on eSIM.</p>
                    <div class="copylnk">
                      <input
                        #userinput
                        type="text"
                        value="https://bit.ly/3mygArB"
                        readonly
                        title="Referral Link"
                        placeholder="Referral Link"
                      />
                      <div
                        class="btncopy"
                        (click)="copyInputMessage(userinput)"
                      >
                        <i class="fa fa-copy"></i>
                      </div>
                    </div>
                    <ul class="invite-social">
                      <li>
                        <a
                          target="_blank"
                          href="https://twitter.com/intent/tweet?text=ESimExpress%20offers%20a%20large%20range%20of%20affordable%20prepaid%20eSim%20data%20plans%20for%20190%2B%20destinations%20all%20over%20the%20world.%20Check%20the%20best%20Suitable%20Plans%20here.%0Ahttps%3A%2F%2Fbit.ly%2F3tzv92i"
                          rel="noopener"
                          title="Share on Twitter"
                          ><i class="fa fa-twitter" aria-hidden="true"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          href="https://www.facebook.com/sharer/sharer.php?u=https://bit.ly/3tzv92i"
                          target="_blank"
                          rel="noopener"
                          title="Share on Facebook"
                          ><i class="fa fa-facebook" aria-hidden="true"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          target="_blank"
                          href="https://www.linkedin.com/shareArticle?mini=true&url=https://bit.ly/3tzv92i&title=ESimExpress%20offers%20a%20large%20range%20of%20affordable%20prepaid%20eSim%20data%20plans%20for%20190%2B%20destinations%20all%20over%20the%20world.%20Check%20the%20best%20Suitable%20Plans%20here."
                          rel="noopener"
                          title="Share on LinkedIn"
                          ><i class="fa fa-linkedin" aria-hidden="true"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
