<section  class="cta-app">
  <div  class="container">
    <div  class="row align-center wrap-reverse">
      <div  class="col-sm-6">
        <div  class="left">
          <h3 >
            Ready to try eSims and change the way you stay connected?
          </h3>
          <p >
            Go to the ESimExpress bot to purchase, manage and top up your eSIMs
            anytime, anywhere!
          </p>
          <div  class="download-app">
            <a href="https://t.me/eSIMExpressBot" target="_blank" rel="noopener" title="Download ESimExpress app for iPhone">
              <img src="assets/images/gototelegram.svg" class="img-responsive max-w-[120px] mx-auto my-2" alt="">
          </a>
          </div>
        </div>
      </div>
      <div  class="col-sm-6 right">
        <img
          src="/assets/images/phone.png"
          alt="esimexpress APP Store"
          title="esimexpress APP Store"
        />
      </div>
    </div>
  </div>
</section>
