<section class="trusted">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="box-wrap">
          <div class="box">
            <img
              src="assets/images/numpad.svg"
              class="img-fluid"
              alt="Local Geographic"
            />
            <div>Local Geographic Number</div>
          </div>
          <div class="box">
            <img
              src="assets/images/secure-payment2.svg"
              class="img-fluid"
              alt="Secure Payment"
            />
            <div>
              Secure 
              Payment
            </div>
          </div>
          <div class="box">
            <img
              src="assets/images/refund1.svg"
              class="img-fluid"
              alt="Money Back"
            />
            <div>100% money-back Guaranteed</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>