<section class="account-bg">
  <div class="my-esim">
    <div class="sim-header-txt">
      <h2>Order Completed!</h2>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="qr-wrap">
      <h2><a (click)="my_esim()">View purchased eSim Cards</a></h2>

      <h1>Important:</h1>
      <h2>
        eSIMs can only be installed once. Please do not delete/remove after the
        installation
      </h2>
      <div class="esim-qr">
        To activate the eSIM by scanning the QR code on your eSIM Capable device
        you need to print or display this QR code on other device:
      </div>
    </div>
  </div>
</section>
<div class="acount-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="https://www.esim.su/info/Installation">
          <h2>Installation Instructions</h2>
        </a>
      </div>
    </div>
  </div>
</div>
