<section
  class="page-banner bg overlay"
  style="background-image: url('assets/images/bg-gradient.png')"
>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="wrap">
          <h1>Device Compatibility</h1>
          <p
            class="text-[15px] max-w-[400px] mx-auto my-1 leading-loose text-center"
          >
            Please make sure your device is unlocked and listed on our eSIM
            supported devices page.
          </p>
          <div class="text-center">
            <a
              [routerLink]="['/info/compatibilityCheck']"
              class="btn btn-primary bg-white text-primary border-0 !rounded-full font-semibold text-[15px] !px-6 py-2.5"
              >Check Now</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <div class="container">
    <!-- Content Section Start Here -->
    <section class="content-wrapper mt-5">
      <!--  Section Start Here -->
      <div class="container">
        <div class="row">
          <ul class="listofcontent no-marker">
            <li>
              <ul class="listinfo">
                <li>
                  <div class="num_txt">1</div>
                  <h2>Select a Data Plan</h2>
                  <p>
                    Go to our Data Plans page and choose a plan that suits your
                    needs.
                  </p>
                </li>
                <li>
                  <div class="comp_img">
                    <img src="assets/images/comp1.png" class="img-fluid" alt="ESimExpress App Data Plans" />
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <ul class="listinfo">
                <li class="rt_float">
                  <div class="num_txt">2</div>
                  <h2>Pay with Card</h2>
                  <p>
                    We use an online payment service with the highest level of
                    certified security. All major credit and debit cards can be
                    accepted.
                  </p>
                </li>
                <li>
                  <div class="comp_img">
                    <img src="assets/images/comp2.png" class="img-fluid" alt="Online payment service" />
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <ul class="listinfo">
                <li>
                  <div class="num_txt">3</div>
                  <h2>Install eSIM Profile</h2>
                  <p>
                    Once your data plan purchase is complete, you will receive a
                    confirmation email with a QR code for your eSIM profile
                    installation. Simply scan the QR code and add the Cellular
                    Plan to your phone.
                  </p>
                </li>
                <li>
                  <div class="comp_img">
                    <img src="assets/images/comp3.png" class="img-fluid" alt="Scan qr code" />
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <ul class="listinfo">
                <li class="rt_float">
                  <div class="num_txt">4</div>
                  <h2>You're Online!</h2>
                  <p>
                    At this point, your eSIM is ready to connect. Make sure you
                    set Stork Mobile eSIM for Cellular Data, and turn your Data
                    Roaming on.
                  </p>
                </li>
                <li>
                  <div class="comp_img">
                    <img src="assets/images/comp4.png" alt="eSIM Online" />
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- Content Section End Here -->
  </div>

  <div class="bggray">
  <div class="container">
    <div class="row align-center">
      <div class="col-md-6">
        <div class="esimapp">
          <h2>Control Your eSIM With Our App</h2>
          <h3>Check Your Data Balance</h3>
          <p>
            Check your eSIM status and how much data you’ve used at anytime.
          </p>
        </div>
        <ul class="esimapp_icon">
          <li>
            <a
              href="https://apps.apple.com/us/app/esimexpress-esim-call-data-plans/id6473274275"
              target="_blank"
            >
              <img src="assets/images/android_play.png" alt="ESimExpress App Android App" />
            </a>
          </li>
          <li>
            <a
              href="https://play.google.com/store/apps/details?id=com.esimexpress&pli=1"
              target="_blank"
            >
              <img src="assets/images/google_play.png" alt="ESimExpress App App Store" />
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="sim_botm">
          <img src="assets/images/sim_botm.png" class="img-fluid" alt="Check your remaining data on ESimExpress" />
        </div>
      </div>
    </div>
  </div>
</div>
