section {
    background-color: #f5f5f5;
}
.bg-white {
    background-color: #fff;
}
.right {
    padding: 20px;
    margin: 20px 0;
}

.plan-list .mobile1 {
    display: none;
}

@media (max-width: 768px) {
    .right {
        padding: 10px;
        margin: 10px 0;
    }
    .plan {
        font-size: 12px;
    }
    .plan button {
        padding: 8px 5px;
    }
    .plan button svg {
        width: 20px;
    }
    .plan-type {
        margin-bottom: 30px;
    }
    .plan-type li a {
        font-size: 14px;    
        padding: 10px 5px;
    }
}

@media screen and (max-width: 600px) {
    .plan-list .desktop1,
    .widget-score {
        display: none;
    }
    .plan-list .mobile1 {
        display: block;
    }
    .filter-widget {    
        margin-top: 0px;
    }
    .mobile-filter  {
        border: 0;
        box-shadow: none;
        padding: 0;
        margin-top: 15px;
    }
    .mobile-filter .sort-by {
        display: flex;
        overflow-x: auto;
        position: relative;
        margin-right: 40px;
    }
    .mobile-filter .sort-by button {
        white-space: nowrap;
    }
    .mobile-filter .top {
        position: relative;
    }
    .mobile-filter .advanced-filter1 {
        position: absolute;
        right: 0;
        top: 4px;
    }
    .filter-widget.desktop1 {
        display: none;
    }
    .filter-widget .mobile-filter {
        display: block;
    }
}