<div class=" border-solid md:border-r border-r-[#cecece]">
    <img src="assets/images/esimexpresslogo.png" class="max-w-[120px] mb-12 hidden md:flex"  alt="ESimExpress App Logo" />
    <h1
      class="text-2xl mdtext-4xl font-bold max-w-[447px] mb-4 mt-2 text-[#3A3A3A] leading-tight"
    >
      Power Up Your Travel <br />
      <span class="text-[#004346]"> with ESimExpress eSIM</span>
    </h1>
    <ul class="max-w-[539px] space-y-6 pr-5">
      <li
        class="text-[13px] md:text-sm font-medium relative pl-8 leading-normal text-[#686868]"
      >
        <img
          src="assets/icons/graphics1.svg"
          class="w-5 absolute top-0 left-0"
          alt=""
        />
        <span class="text-[#004346] font-semibold">
          Local Phone Number:</span
        >
        Stay connected with a local number wherever you explore. Make
        calls and receive messages like a resident.
      </li>
      <li
        class="text-[13px] md:text-sm font-medium relative pl-8 leading-normal text-[#686868]"
      >
        <img
          src="assets/icons/graphics2.svg"
          class="w-5 absolute top-0 left-0"
          alt=""
        />
        <span class="text-[#004346] font-semibold">
          Risk-Free Trial:</span
        >
        Try ESimExpress with confidence! We offer a 100% money-back guarantee
        within 30 days.
      </li>
      <li
        class="text-[13px] md:text-sm font-medium relative pl-8 leading-normal text-[#686868]"
      >
        <img
          src="assets/icons/graphics3.svg"
          class="w-5 absolute top-0 left-0"
          alt=""
        />
        <span class="text-[#004346] font-semibold">
          Secure Payments:</span
        >
        ESimExpress prioritizes your security. Our secure payment processing
        keeps your financial information safe.
      </li>
    </ul>
  </div>