<div class="nav-sidebar">
  <div class="user-info py-3">
    <div class="avatar-text">{{ userInitial }}</div>
    <div class="user-name">{{ fullName }}</div>
  </div>
  <ul class="userinfo">
    <!-- <li><a href="info/profile">Profile</a></li> -->
    <li><a href="info/OrderDetils">Order History</a></li>
    <!-- <li><a href="info/pendingstatus">eSIM QR Code  </a></li> -->
    <li><a href="info/Ticket">Tickets</a></li>
    <!-- <li><a href="info/myesim">My eSims</a></li> -->
    <li><a href="info/top-ups">Top-ups</a></li>
    <li><a href="info/Invitefriends">Invite Friends</a></li>
    <li><a (click)="logout()" class="cursor-pointer">Logout</a></li>
  </ul>
</div>
