<div class="marquee-text" *ngIf="isShowHeader">
    <div class="alert alert-dismissible fade show " role="alert" style="padding: 0; margin: 0">
        <button type="button" class="close absolute right-2 top-2" data-dismiss="alert" aria-label="Close" (click)="close()"><span aria-hidden="true">
          <img src="/assets/images/close-circle-icon1.png" class="img-fluid" alt="close icon" title="close icon" width="19px">
        </span></button>
        <div>
        <div class="marquee">
          <div class="overflow-hidden">
            <!-- <span> Get Great Discounted Monthly Plans! Limited-time offer on premium eSIM services. Claim your special deal today!</span>
            <span class="ex"> Get Great Discounted Monthly Plans! Limited-time offer on premium eSIM services. Claim your special deal today!</span>
            <span class="ex"> Get Great Discounted Monthly Plans! Limited-time offer on premium eSIM services. Claim your special deal today!</span> -->
          </div>
        </div>
        </div>
  
    </div>
  </div>