
<section class="search-header page-banner bg overlay" style="background-image: url(assets/images/bg-gradient.png);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-9">
                <div class="wrap search">
                    <h1>Privacy Policy</h1>
                </div>
            </div>
        </div>
    </div>
  </section>


<section class="des-info">
    <div class="container">
        <div class="terms-use">
            <div class="row">
                <div class="col-12">
                    <div class="terms-use-con " style="margin-bottom: 1rem;">
                        <strong> <p>Last Updated November 2020</p></strong>
                    </div>
                </div>
                <div class="col-12">
                    <div class="terms-use-con">
                        <h4>Introduction</h4>
                        <p>We value your privacy and it is important for us to safeguard it. All the information that we may collected from your end is well protected and we respect and value your privacy. Our privacy policy elaborates on how your personal
                            details obtained from using our website (www.esim.su) and app (ESimExpress) are utilised for an overall better experience. By using our services, we believe your agree to terms of the policy in the detailed mentioned below:
                        </p>
                        <!--  <a href="#">Show More</a>-->
                    </div>
                </div>
                <div class="col-12">
                    <div class="terms-use-con">
                        <h4>2. Collection and Processing of Personal Data</h4>
                        <p>Your personal data is collected and further processed for the following purposes:
                            <p>Processing payments and ease of transactions:</p>
                            <ul>
                                <li>

                                    Provisioning telecom services and goods </li>
                                <li>To offer support and maintenance as and when needed</li>
                                <li>Using data to efficiently market and educate about our products, services & campaigns</li>
                                <li>Effective analysis of sales, usage patterns and incorporate measures to improve quality and make necessary improvements</li>
                                <li> Offer personalised services and comments</li>
                                <li> Perform surveys as a form of feedback.
                                </li>
                            </ul>
                            <p>
                                We may collect and process the following type of data:</p>

                            <ul>
                                <li> Personal details including contact info, name & address etc.</li>
                                <li> Device details including model & serial no.</li>
                                <li> Location details (using the eSIM cell ID)</li>
                                <li> Communication details including start and end time besides usage volume</li>
                                <li> Details obtained from web browser (e.g. IP address, web pages accessed).
                                </li>
                            </ul>

                            <!--<a href="#">Show More</a>-->
                    </div>
                </div>
                <div class="col-12">
                    <div class="terms-use-con">

                        <h4 class=""> 3. How can data be deleted?</h4>
                        <p> Upon installation of ESimExpress iOS or Android App, ESimExpress Support team acts as data controller. In this case, we will delete all the data shared with us upon request (via email to support&#64;esim.su), or upon closure of the account.
                            Data may still remain in the systems back-up files, which will be deleted periodically. Information may be deleted from our CRM upon request to support&#64;esim.su. We undertake to perform the deletion within one month (30 calendar
                            days) and will send you a confirmation once the information has been deleted. Wherever possible, we will aim to complete the request in advance of the deadline.</p>
                    </div>
                </div>

                <div class="col-12">
                    <div class="terms-use-con">
                        <h4 class="">4 Personal Details Disclosure to 3rd parties</h4>
                        <p>Any disclosure of personal details collected and shared with 3rd parties will only happen with your due consent.</p>
                        <p>
                            However as and when needed, we may have to share details with 3rd party providers to offer services that request. This will be based on selection of trust worthy providers who can safeguard your data with as much respect and importance. We will also ensure
                            due supervision such that there is no undue use of your data that we share to offer much needed services.
                        </p>
                        <p>
                            As needed by law of the land, we may have to share your details when supported by a court order.
                        </p>
                        <p>
                            In addition, we may use your data and compile it to statistically analyse your usage and work to improve our systems to offer improved services.
                        </p>
                        <p>
                            Besides the above scenarios, your data will not be used for any other purposes.
                        </p>
                    </div>
                </div>

                <div class="col-12">
                    <div class="terms-use-con">
                        <h4 class="">Duration for which Personal Data stored</h4>
                        <p>We will only store data for the duration till the completion of aforementioned purposes are underway. Beyond that we will ensure that the data is no longer with us and is duly erased to ensure complete safety of your details.</p>

                    </div>
                </div>

                <div class="col-12">
                    <div class="terms-use-con">
                        <h4 class="">5. Managing Your Personal Data</h4>
                        <p>We will take all necessary measures to ensure undue access of your data, any changes to it besides create systems to avoid its accidental or even unlawful destruction and or access.</p>
                        <p>
                            To ensure the above, we will conduct due training of our staff such that they are equipped and efficient enough to handle and ensure safety of your data.
                        </p>
                        <p>
                            As needed whenever we share your data with 3rd parties, we will ensure such parties are trusted upon with due diligence and are worthy and capable to handle your data to offer goods and services as you request. Not only in regards to data with us, but
                            we will ensure even 3rd parties also do not allow undue access of your data and or destruct it post accomplishing purposes for which data is shared with them. We will take all security measures to ensure the same happens and
                            will supervise the same.
                        </p>
                    </div>
                </div>

                <div class="col-12">
                    <div class="terms-use-con">
                        <h4 class="">6. Access Rights to Data</h4>
                        <p>You can at anytime request access to your data that we have collected and processed by reaching to us via email, post and/or relevant communication channels. We will ensure to perform due diligence to correctly identify you before
                            revealing data such that data is not shared with anyone else. We further request you to reach to us at channels provided such that we can well identify your first.</p>
                        <p>
                            In situations, that demand that data sharing may lead to some sort of public security or a risk of hindering our business interests, we may choose to not give access to such data making due considerations.
                        </p>
                        <p>
                            Please find below our email address for correspondence:


                        </p>
                        <p>
                            Email: support&#64;esim.su
                        </p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="terms-use-con">
                        <h4 class="">7. More Rights</h4>
                        <p>You have complete right to object to any term of the policy towards processing of your data. If found valid, once objected, we will stop processing of your data any further.</p>
                        <p>
                            You can also request to erase, correct or block any personal data which you may find incorrect or misleading or in any way processed to be considered a violation of law and regulations.
                        </p>
                        <p>
                            We will also ensure to notify any 3rd parties with whom the data has been shared to make relevant changes and or erasure or restriction of such data in accordance with your request.
                        </p>
                        <p>
                            Besides at any point in time you are free to withdraw your consent to process your personal data.
                        </p>
                        <p>
                            In case you find that any breach of law has happened while processing the data, you can reach out to us with complete details and we will ensure prompt action to look into the matter and address your concern and reach out to you with the steps taken to
                            deal with your complaint. You also have rights to reach out to any regulatory body or a data protection unit and make raise a concern over how your data has been processed.
                        </p>
                        <p>
                            You can as and when felt also unsubscribe from our email database and opt away from any mailers regarding our services and any marketing campaigns. For the same, please contact us to use our opt out services at the communication address already mentioned.
                        </p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="terms-use-con">
                        <h4 class=""> Cookies</h4>
                        <p>We often collect your information via cookies while you access our web site and app to give you better user experience</p>

                    </div>
                </div>
                <div class="col-12">
                    <div class="terms-use-con">
                        <h4 class="">International Transfer of Your Data</h4>
                        <p>In some instances your personal data may need to be shared outside (keeping the GDPR guidelines in mind). By submission of data, we believe you agree to sharing of your personal data (country name) outside for storage and processing.</p>

                    </div>
                </div>
                <div class="col-12">
                    <div class="terms-use-con">
                        <h4 class="">Limits to our Privacy Policy</h4>
                        <p>Our sire and app have links to other web sites and apps which we have no control over. Thus we cannot take any responsibility of content they offer besides their policies and how they conduct their privacy policy practices.</p>

                    </div>
                </div>
                <div class="col-12">
                    <div class="terms-use-con">
                        <h4 class="">Changes to the Privacy Policy</h4>
                        <p>As needed and at our discretion, we may bring changes to our privacy policy to reflect current acceptable practices. By using our services post policy changes, we believe you agree to our business practices which revolve around
                            your privacy and data.</p>
                        <p>
                            If we may any substantial changes to our policy, basis which there are changes in how we process your data, we will ensure to ask for your due consent once again such that you are well informed and we process post your approval.
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<div style="height: 60px"></div>

