<section class="europe-banner">
  <div class="box flex items-end justify-between gap-3 min-h-[340px] pt-[29px]">
    <div class="pl-[20px]">
      <h2 class="text-[32px] font-bold text-[#071E3A] leading-[40px]">
        Roam Europe with Confidence!
      </h2>
      <p class="text-[18px] leading-[30px] mb-[10px]">
        Fast, Reliable Data | Coverage Across Europe
      </p>

      <button
        class="btn cursor-pointer bg-[#FEEB3B] w-full max-w-[260px] text-[#142C08] text-[14px] text-left flex items-center justify-between gap-[5px] !rounded-[14px] mb-1 px-[2px] hover:bg-[#FED500] transition-all duration-300"
        [routerLink]="['/esim-detail/Europe-60GB-5G-Internet-Data-30Days']"
      >
        <div class="flex items-center">
          <div>
            <img
              src="/assets/flags/european-union.svg"
              alt="Europe Flag"
              title="Europe Flag"
              class="w-[26px] mr-[5px] ml-[5px]"
            />
          </div>
          <div class="ml-[10px]">
            <h4 class="font-semibold">60 GB | 30 Days</h4>
            <p>-Work, Stream, Explore</p>
          </div>
        </div>
        <div>
          <img src="/assets/images/right-2-arrow.svg" alt="arrow" title="arrow"  class="w-[20px]"/>
        </div>
      </button>

      <button
        class="btn cursor-pointer bg-[#07274E] w-full max-w-[260px] text-white text-[14px] text-left flex items-center justify-between gap-[5px] !rounded-[14px] mb-2 px-[2px] hover:bg-[#051A3A] transition-all duration-300"
        [routerLink]="['/esim-detail/Europe-300GB-5G-Internet-Data-15Days']"
      >
        <div class="flex items-center">
          <div>
            <img
              src="/assets/flags/european-union.svg"
              alt="Europe Flag"
              title="Europe Flag"
              class="w-[30px] mr-[5px] ml-[5px]"
            />
          </div>
          <div class="ml-[10px]">
            <h4 class="font-semibold">300 GB | 15 Days -</h4>
            <p>-Explore More, WorryLess Blazing Fast Speeds</p>
          </div>
        </div>

        <div>
          <img
            src="/assets/images/right-2-arrow-white.svg"
            alt="arrow"
            title="arrow"
            class="w-[20px]"
          />
        </div>
      </button>
    </div>

    <div>
      <img
        src="/assets/images/europe-monements.webp"
        alt="Europe Banner"
        title="Europe Banner"
        class="max-w-[275px]"
      />
    </div>
  </div>
</section>
