<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="card">
        <p class="text">
          This was just what I needed - a no-fuss data plan with an eSIM
          setup when I was in a foreign country and needed to get about
          but didn't speak the language. Thank you very much! My other
          travellers were astounded to learn.
        </p>
        <div class="author-box">
          <p class="name">Richard Florence</p>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="card">
        <p class="text">
          It wasn't the first time I'd used ESimExpress eSIM, and it went as
          smoothly as I remembered. I'll definitely return next time
          because of the simple setup, gorgeous web and mobile app, and
          fast and stable cellular connection.
        </p>
        <div class="author-box">
          <p class="name">- Delly Murk</p>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="card">
  
        <p class="text">
          I'm so glad I Googled for eSims and found ESimExpress! It's quite
          easy to set up, and when I arrived in NYC, I simply turned on my
          phone and it worked. There is also a constant 4G signal.
          Congratulations, ESimExpress!
        </p>
        <div class="author-box">
          <p class="name">- Melly Musk</p>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="card">
        <p class="text">
          It wasn't the first time I'd used ESimExpress eSIM, and it went as
          smoothly as I remembered. I'll definitely return next time
          because of the simple setup, gorgeous web and mobile app, and
          fast and stable cellular connection.
        </p>
        <div class="author-box">
          <p class="name">- Delly Murk</p>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
  