<section class="how-it-works text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>
                    <span class="fw-400">Get ESimExpress connected in </span> <br /> 4 easy steps!
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="flex overflow-x-auto z-50 relative">
                <div class="item min-w-[250px]">
                    <h4>STEP-1</h4>
                    <img src="assets/images/step-11.svg" class="img-fluid" alt="Select Country"  title="Select Country" />
                    <h5>Select Country</h5>
                </div>

                <div class="item  min-w-[250px]">
                    <h4>STEP-2</h4>
                    <img src="assets/images/step-2.svg" class="img-fluid" alt="Choose Plan"  title="Choose Plan" />
                    <h5>Choose Plan</h5>
                </div>

                <div class="item  min-w-[250px]">
                    <h4>STEP-3</h4>
                    <img src="assets/images/step-3.svg" class="img-fluid" alt="Make Payment" title="Make Payment" />
                    <h5>Make Payment</h5>
                </div>

                <div class="item  min-w-[250px]">
                    <h4>STEP-4</h4>
                    <img src="assets/images/step-4.svg" class="img-fluid" alt="Activate Your eSIM"  title="Activate Your eSIM" />
                    <h5>Activate your eSIM</h5>
                </div>

                </div>  
            </div>
        </div>
    </div>
</section>