<section class="customer-loves-notes">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="sec-heading">Customer's <span class="text-orange fw-500">Love Notes</span></h3>
            </div>
        </div>
    </div>
</section>


<section class="testimonial_wrap desktop-version">
    <div class="container-fluid">
        <div class="row text-center align-center">
            <div class="col-md-4">
                <div class="text">
                    <div class="heading">
                        <img src="assets/images/stars.svg" alt="stars"  title="stars" class="img-fluid mx-auto">
                        <h2>Testimonial</h2>
                        <div class="sep"></div>
                        <h3>What Our Customers Say</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-8 right-col">
                <app-reviews></app-reviews>
            </div>
        </div>
    </div>
</section>

<section class="testimonial_wrap mobile-version ">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col">
                <app-reviews></app-reviews>  
            </div>
        </div>
    </div>
</section>
           
       