
<section
  class="search-header page-banner bg overlay"
  style="background-image: url(assets/images/bg-gradient.png)"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-9">
        <div class="wrap search">
          <h1>Terms of Use</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="des-info">
  <div class="container">
    <div class="terms-use">
      <div class="inner-banner-lnk">Last Updated November 2020</div>

      <div class="col-12">
        <div class="terms-use-con">
          <h4>General Provisions</h4>
          <h4 class="dot">Application of Terms of Use</h4>
          <p>
            These are the terms for use of services of (ESimExpress) for the users
            which are held between the users and us (ESimExpress.). If you as a user
            do not wish to be boundby these terms, then you may not use our
            Services, Website and App.
          </p>
          <!--<a href="#">Show More</a>-->
        </div>
      </div>

      <div class="col-12">
        <div class="terms-use-con">
          <h4 class="dot">Change of Terms</h4>
          <p>
            We may change the terms of using the services from time to time and
            accordingly will inform the users about the relevant changes via our
            Website (www.esim.su) and other methods of communication.
            After having notified, the users will be considered to have
            consented to the change in terms for the use of our services.
          </p>
        </div>
      </div>

      <div class="col-12">
        <div class="terms-use-con">
          <h4 class="dot">Definitions</h4>
          <ul>
            <li>
              “Services” or (Co. Name) Services refers to the mobile internet
              communication service and all the related services (web
              applications etc.) provided by us i.e. (ESimExpress)
            </li>
            <li>
              “User” means the consumer who has opted to open an account with
              (ESimExpress) and is about to use the mobile/data services provided
              associated with that account.
            </li>
            <li>
              “eSIM” or “eSIM Profile” in our Terms means a carrier profile for
              embedded Subscriber Identity Mobile i.e.eSIM which is confirmed to
              GSM Associated standards;
            </li>
            <li>
              “QR Code” refers to a QR code which a users needs in order to
              download and install an eSIM profile to their respective devices
            </li>
            <li>
              “Network Operator” or “Network Services” mean the concerned
              Network operator in whose networks the (ESimExpress) eSIM may be
              utilised by the user.
            </li>
            <li>
              ESimExpress means the eSIM provided by us under the brand name
              (ESimExpress), which uses both local mobile and roaming networks for
              consuming cellular data
            </li>
            <li>
              “eSimExpress” refers to the proprietary software application
              provided by us to our consumers for using (ESimExpress) services
            </li>
            <li>
              “Recharge” or “Top Up” means an add on purchase of data service
              for additional data consumption on (ESimExpress) eSIM.
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12">
        <div class="terms-use-con">
          <h4>Services</h4>
          <h4 class="dot">Service Description</h4>
          <p>
            ESimExpress allows usage of mobile data services only as defined by
            GSMA (Global System for Mobile Association). No other services
            including voice calls and sending/receiving SMS, MMS can be done
            using the eSIM.
          </p>
        </div>
      </div>

      <div class="col-12">
        <div class="terms-use-con">
          <h4 class="dot">No Warranty</h4>
          <ul>
            <li>
              The user shall agree that the (ESimExpress) Service shall be provided
              on “as-is” basis. To the extent as much the law permits, we
              disclaim all warranties and representations in anyway express or
              limited, with respect of ESimExpress services including without
              limitation, any warranty towards quality, consistency in service,
              non-mistake or non-infringement of rights of 3rd parties, fitness
              of any form for a particular purpose.
            </li>
            <li>
              We expect that you acknowledge that mobile internet services is a
              form of wireless service that operates on radio and signal
              frequencies. As a result it can be hindered by many factors
              including buildings, or any other obstacles in the form of
              terrains, and hence as much we may provision, we may not guarantee
              perfect or error less transmission as regards the service and its
              quality. Also the quality of network, signal and transmission lies
              in the hand of the Network Operator of the region where you shall
              be using the services.
            </li>
            <li>
              Whenever providing you details on amount of data used or
              remaining, it is available to us based on information provided by
              the Network Provider following further calculation and hence we
              shall not be responsible for any in accuracy as a result of
              details provided to us.
            </li>
            <li>
              Our systems are designed for your personal use but are not fault
              tolerant or intended to otherwise design for use as control
              equipments in hazardous environments which require fail safe
              performance for e.g in case of weapon;s systems or life support
              machines, nuclear facilities and/or military/aircraft navigation
              and communication systems, in which lack or failure of service may
              lead to damage like personal injury, death and unlikely high risk
              possibilities. Therefore in accordance we disclaim any warranty
              towards fitness in high risk activities. Users are made to know
              that we are not responsible for any risk or damage arising as a
              result of participation in such high risk operation and
              activities.
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12">
        <div class="terms-use-con">
          <h4 class="dot">User Restriction</h4>
          <ul>
            <li>
              If it is observed that due to signal or transmission issues, there
              is significant impact on the bandwidth, we may control the
              transmission rate and traffic backing such signal or transmission
              to control the bandwidth allocated to such signal or transmission.
            </li>
            <li>
              If in case if a natural calamity or in unlikely event of an
              emergency situation, we will restrict the service and allocate the
              same to the content of those who are highly impacted due to the
              natural calamities. This would be done to ensure maintenance of
              public interest and as needed to secure transportation
              communication and/or electronic power supply as stated for much
              needed public order.
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12">
        <div class="terms-use-con">
          <h4 class="dot">Rights</h4>
          <ul>
            <li>
              We have a right to make necessary choice to pick our technology
              partners and network operators in the best interest of out
              business requirement. In this context, we hereby expect you
              consent to us to share your information with the concerned
              partners to provision the services for you. Also use of your
              information for such purposes will also be subject to privacy
              policy to safeguard your information.
            </li>
            <li>
              The user shall authorise us to debit their payment method
              (debit/credit card) upon first making a transaction to buy a plan
              or a top-up and also use the same for their future purchases
              towards the same eSIM.
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12">
        <div class="terms-use-con">
          <h4 class="dot">Transmission Disconnection</h4>
          <p>
            If it is found that excess data transmission has happened during a
            given session, we have a right to disconnect services for the
            session to secure stability of the systems.
          </p>
        </div>
      </div>

      <div class="col-12">
        <div class="terms-use-con">
          <h4 class="dot">Suspension</h4>
          <ul>
            <li>
              As and when needed there would be a requirement to upgrade and
              maintain our systems and hence the services may remain suspended
              for a while, though we will ensure to notify you well in advance
              and also ensure minimal possible outage times for such
              maintenance.
            </li>
            <li>
              We reserve the right to suspend services without informing in case
              of the following events:
              <ul>
                <li>
                  If we find that you are in breach of services as per the Terms
                  and service conditions mentioned on our Website.
                </li>
                <li>
                  If you fail to furnish required information to avail service
                  as per a regulatory requirement also needed in case if you
                  wish to travel to a specific region.
                </li>
                <li>
                  In case of operational needs or for reasons that demand
                  security.
                </li>
                <li>
                  While services are restricted/suspended from a cloud service
                  provider to us or our Network Provider.
                </li>
                <li>A Network Providers suspends telecom services to us.</li>
                <li>
                  To prevent damage to our or our contracted Network Partners
                  integrity as a result of service access by you or any using
                  your access.
                </li>
                <li>
                  ⁃ On receipt of any complied order received from a regulatory
                  body or government or an emergency services organisation or
                  any other equally competent body.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12">
        <div class="terms-use-con">
          <h4 class="dot">Discontinuation of Services</h4>
          <p>
            If for any avoidable or undisputable reasons exists, we may have to
            cancel the service in part or wholly.
          </p>
        </div>
      </div>

      <div class="col-12">
        <div class="terms-use-con">
          <h4 class="dot">Monitoring</h4>
          <ol type="1">
            <li>
              It is at our discretion to ensure any fraudulent activity doesn’t
              happen, hence we shall have a right to check the transaction made
              to use the service in addition to keep a tab on the data services
              used. Also if any form of fraudulent financial activity find while
              procuring service, we will have due rights to complete discontinue
              the service on the eSIM;
            </li>
            <li>
              As is part of our privacy policy, we will monitor your service and
              if and when needed disclose the detailed gathered form such
              monitoring to satisfy the legal and regulatory needs as needed
              besides ensuring protection of our other users.
            </li>
          </ol>
        </div>
      </div>

      <div class="col-12">
        <div class="terms-use-con">
          <h4 class="dot">Account</h4>
          <ul>
            <li>
              The user shall be required to make an account with us supported by
              a valid email address to use ESimExpress. The user may make only
              one account per email address, unless the Terms explicitly mention
              so.
            </li>
            <li>
              Account shall need to get their email verified with a correct
              email address provided by them within 30 days.
            </li>
            <li>
              For purposes of our users privacy and safety we reserve the right
              to cancel or remove account which have no activity for over 18
              months over last action performed.
            </li>
            <li>
              The user is supposed to create and maintain their own password and
              be responsible for the safe possession and not ne ulte in sharing
              of such confidential information or transfer of it to any other
              3rd party for their benefit. If at all there is any unauthorised
              activity detected on the account by a 3rd party or towards any
              unauthorised use, the user is requested to contact us immediately.
            </li>
            <li>
              The user is responsible for any outcome as a result of using their
              account with ESimExpress. If there are any damages or loss incurred as
              a result of any such usage, user will be held responsible to cover
              and make do for such a loss.
            </li>
            <li>
              The user has a right to request deletion of the account and can do
              so by reaching to us at support&#64;esim.su.
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12">
        <div class="terms-use-con">
          <h4 class="dot">QR Code</h4>
          <ul>
            <li>
              Usage of QR-code is for one-time only and cannot be put to reuse
            </li>
            <li>
              The user shall be completely responsible for the usage and
              management of the QR code and we in no manner shall be responsible
              its loss, damage, theft or any other expense in whatsoever form.
            </li>
            <li>
              The QR code shall be vaid for a duration of 1-year or 365 days
              from the date is was generated and issued. The US Standard time
              applies for duration purposes.
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12">
        <div class="terms-use-con">
          <h4 class="dot">eSIM Profile</h4>
          <ul>
            <li>The eSIM obtained by a user cannot be re-issued.</li>
            <li>The eSIM in no condition is transferable.</li>
            <li>
              The user shall hold all responsibility towards usage of the
              services and any loss, damage or any other form of cost incurred
              as a result of usage.
            </li>
            <li>
              ESimExpress shall be valid for a duration of 365 days or 1 year
              from the date the data plan or a top-up was purchased, unless
              otherwise specified with the plan or top-up. Also, for purposes of
              duration, US standard shall be applicable.
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12">
        <div class="terms-use-con">
          <h4 class="dot">Compatability</h4>
          <ul>
            <li>
              ESimExpress works only on unlocked devices and capable operating
              systems which can smoothly use the eSIM. We have a complete list
              of fully comparability devices with our eSIM. Please do refer to
              the list. We hold no responsibility in case of an attempt to use
              eSIM with an incompatible device.
            </li>
            <li>
              In order to use the eSIM, it is much needed to turn on the data
              roaming option besides setting up a correct APN (Access Point
              Name). We will have liability towards not improper or lack of
              configuration of the mentioned settings.
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12">
        <div class="terms-use-con">
          <h4 class="dot">Currency</h4>
          <p>
            The default currency for ESimExpress services shall be US Dollars or the
            currency displayed at the point of sale.
          </p>
        </div>
      </div>

      <div class="col-12">
        <div class="terms-use-con">
          <h4>Your Obligations</h4>
          <h4 class="dot">Use of Service</h4>
          <ul>
            <li>
              It is expected that the user shall use the services in a lawful
              manner and will be responsible for all the data charges incurred
              for using the services they opted for.
            </li>
            <li>
              The user shall be responsible use of all services including though
              not limited to any terminal devices, its complete configuration
              and installation in compliance with applicable regulations and
              instructions issues either by the supplier of terminal device
              and/or us. The user shall also be responsible for activities for
              preparation of services though included but not limited to
              installation and preparing of eSIM, plus setting necessary
              protocols as much as much needed activities to support maintenance
              of service.
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12">
        <div class="terms-use-con">
          <h4 class="dot">Terminal Service</h4>
          <p>
            It is user’s responsibility to ensure that the device to be used
            with our service is compatible for use. This includes the device
            having necessary capability to function on the network on relevant
            frequencies and hence has to be an unlocked device too. The service
            quality is equally relied upon the type of handset. It is solely
            user’s choice on the type of handset to use.
          </p>
        </div>
      </div>

      <div class="col-12">
        <div class="terms-use-con">
          <h4 class="dot">Content</h4>
          <p>
            It is the user’s responsibility for all the content, information and
            any form of communication transmitted through the use of service.
          </p>
        </div>
      </div>

      <div class="col-12">
        <div class="terms-use-con">
          <h4 class="dot">Compliance for Regulation</h4>
          <ul>
            <li>
              The user has to use the services in compliance with the applicable
              laws and regulations of your local region, city, state or nation
              where he/she resides and/or travels to for use of the service. We
              have no responsibility for any failure to comply with relevant
              laws and regulations.
            </li>
            <li>
              The use of services outside (United States) i.e. in a roaming
              network may be subject to their own relevant laws and regulations.
              We as stated will not be responsible for failure to compliance to
              those laws and regulations.
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12">
        <div class="terms-use-con">
          <h4 class="dot">Confidentiality</h4>
          <p>
            The user is expected to maintain confidentiality about any details
            related to ESimExpress technical, management and/or non-public related
            information obtained by using the ESimExpress services and is assumed to
            not use it for any other purposes except using ESimExpress services,
            though can disclose the same as and when needed for the purpose of
            compliance with any law or regulation, besides any form of court or
            legal order, or any body in supervisory position or a regulatory
            body to regulate the user.
          </p>
        </div>
      </div>

      <div class="col-12">
        <div class="terms-use-con">
          <h4 class="dot">Maintaining Confidence</h4>
          <p>
            In using the services of ESimExpress, user is expected to not act in any
            way possible to lose confidence of ESimExpress.
          </p>
        </div>
      </div>

      <div class="col-12">
        <div class="terms-use-con">
          <h4>Acts of Prohibition</h4>
          <p>The user shall not in addition to the provision of the terms:</p>
          <ul>
            <li>
              Put the terminal device to any kind of use that is not in
              compliance with the technical norms laid down by the applicable
              regulations and laws which are equivalent to FCC (Federal
              Communications Commission) rules or by the CE Marking for Radio
              Telecommunications Equipment.
            </li>
            <li>Use the terminal device which is not supported by ESimExpress.</li>
            <li>
              Perform any acts which are prohibited by applicable
              laws/regulations of regions where the users consumer ESimExpress
              services.
            </li>
            <li>
              Use the ESimExpress services for viewing child pornography or
              acquisition and consumption of child prostitution related content
              besides sending email which contains similar content which is
              considered inappropriate.
            </li>
            <li>
              Perform any illegal or prohibited acts considered so by Telecom
              carriers.
            </li>
            <li>
              Use ESimExpress services for any products of services which infringes
              with our intellectual rights.
            </li>
            <li>
              File application towards intellectual rights property based on
              ESimExpressservices.
            </li>
            <li>
              Transfer, provide or assign as collateral and/or dispose of
              complete or in part ESimExpress relation information.
            </li>
            <li>
              In any form attack our web servers using a virus and or methods to
              use server in unauthorised way.
            </li>
            <li>
              Let a 3rd party perform any acts to reverse engineer, assemble or
              decompile Airbus services to any form of analysis.
            </li>
            <li>
              Also not perform the above mentioned acts bin own personal
              capacity.
            </li>
            <li>
              Transfer eSIM issued to oneself to any other 3rd party besides
              transfer or share data plan/top up to others unless the plans
              terms specify so.
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12">
        <div class="terms-use-con">
          <h4>Cancellation and Refunds</h4>
          <h4 class="dot">Cancellation Policy</h4>
          <p>
            To cancel any service, plan or a top up which has already been paid
            up for, please contact us in writing or via email or through the
            communication methods, identifying yourself, so that we can initiate
            the process. Once having received all details, our teams will do the
            needful to make the necessary refunds after due diligence, within 30
            days from the day a cancellation request was made.
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="terms-use-con">
          <h4 class="dot">Refund Policy</h4>

          <p>
            If you're unsatisfied with your eSIM experience, we are here to
            assist you!
          </p>
          <p>
            While our eSIMs typically work flawlessly, we understand that
            connection issues can arise. In such cases, we offer a full or
            partial refund based on specific conditions. To ensure a smooth
            process, please review the terms outlined below.
          </p>
          <p>
            Please note that the cancellation and return terms apply to all
            purchases made through our online store - www.esim.su, and iOS
            and Android App without exception.
          </p>
          <p>
            Upon purchasing your eSIM, you will receive a confirmation email
            containing the QR code. Once the eSIM is sent and there is any
            issue, refunds can be provided in certain situations.
          </p>
          <p>When you may qualify for a refund:</p>
          <ul>
            <li>
              If your eSIM fails to work due to a problem with AirHbubApp or the
              connection provider, we can offer a full or partial refund.
            </li>
          </ul>
          <p>Before processing a refund, we kindly request that you:</p>
          <ol>
            <li>
              Contact our support team (support&#64;esim.su) to report the
              connection issue.
            </li>
            <li>
              Provide relevant information and screenshots to help our team
              identify the problem.
            </li>
          </ol>
          <p>
            Our support team is available 24/7, and we typically respond within
            a few minutes. If the connection problem cannot be resolved,
            ESimExpressApp team will reimburse your order.
          </p>
          <p>
            In cases where the eSIM never connected to the internet, we can
            provide a full refund, excluding a small processing fee. If the eSIM
            stopped working or only worked temporarily, we can offer a partial
            refund based on the number of days you were without an internet
            connection, deducting the days when you had a connection.
          </p>
          <p>
            Please note that ESimExpressApp reserves the right to deduct a small
            administration fee from refunded amounts.
          </p>
          <p>
            Regarding refund requests, our response time is typically 3 to 5
            business days. Once you receive our response, the refund will be
            reflected in the same account used for the payment, depending on
            your bank, within 15 to 30 business days.
          </p>
          <p>When a refund may not be applicable:</p>
          <ul>
            <li>
              We cannot issue a refund if an incorrect email address was
              provided during the purchase. While we can forward the eSIM to a
              different email address, we cannot guarantee that it will not be
              used by the owner of the incorrect email address, making it
              ineligible for a refund.
            </li>
            <li>
              Refunds cannot be issued if your device is not compatible with
              eSIM or if it is locked. We provide a list of compatible devices
              on our website, and you can verify device compatibility by
              contacting our customer team.
            </li>
            <li>
              Refunds cannot be issued if you change your mind or no longer
              require the eSIM.
            </li>
            <li>
              Refunds cannot be issued for any other cases not specified on this
              page.
            </li>
          </ul>
          <p>
            How to request a refund: Please reach out to us at
            support&#64;esim.su to initiate the refund process.
          </p>
          <p>
            If you experience a connection problem with your eSIM, please
            contact us immediately when the issue occurs. Our team will first
            ensure that your eSIM is correctly configured. If the problem
            persists despite correct configuration, we will proceed with the
            refund process.
          </p>
          <p>
            Refunds will be issued to the original payment method used for the
            purchase.
          </p>
          <p>
            If you need further assistance, please don't hesitate to contact us
            through our online chat or by emailing support&#64;esim.su.
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="terms-use-con">
          <h4 class="dot">Limitation of Liability</h4>
          <ul>
            <li>
              If ESimExpress services and/or accessories service becomes unavailable
              due to any reason credited to 3rd party (including but not limited
              to Network or Cloud Provider(s)), we shall not be responsible for
              the same in any manner.
            </li>
            <li>
              We in no way can control the quality of concern Network Operator’s
              network which is being to offer services for ESimExpress or it is
              connected to. Hence we are barred from any responsibility that
              arises from quality of service provided or performance issues that
              arise from network of a Network Operator.
            </li>
            <li>
              Any loss of profit or cost incurred as a result of ESimExpress services
              is not to be borne by us and hence we owe no responsibility for
              the same. Thus user shall not make any claims towards such for of
              loss of profit of cost incurred on us.
            </li>
            <li>
              There is a possibility of information loss in case the telecom
              facility is undergoing a maintenance or repair. Therefore we are
              not responsible for any for of information loss or bear any cost
              for damages since this shall not be considered as any form or
              negligence or misconduct on our part.
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12">
        <div class="terms-use-con">
          <h4>Miscellanous</h4>
          <h4 class="dot">Updating Terms</h4>
          <p>
            All latest Terms of use shall be duly updated on our Website at
            https://ESimExpress.com.
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="terms-use-con">
          <h4 class="dot">Legal Compliance and Governing Laws</h4>
          <ul>
            <li>
              The Terms shall be governed by the laws of United States (USA) and
              subject to any jurisdiction under US Federal and State laws and in
              their respective region courts.
            </li>
            <li>
              Despite the governing laws, you will also be bound and subject to
              laws and regulation of the region/country where you are using
              these services. You are expected to follow such norms and laws as
              prescribed.
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12">
        <div class="terms-use-con">
          <h4 class="dot">Privacy Policy</h4>
          <ul>
            <li>
              Our Privacy policy for how we collect and process user information
              is duly reflected and updated on our Website at
              https://www.ESimExpress.com.
            </li>
            <li>
              We may be required to collect personal information from you as
              subject to compliance for needed legal and regulatory
              requirements. We assume that whenever needed you shall provide us
              with accurate information and not handover any form of false or
              misleading details.
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12">
        <div class="terms-use-con">
          <h4 class="dot">Intellectual Property</h4>
          <p>
            All rights for intellectual property at ESimExpress remain with us only.
            The use of our services by the subscribed user in no way mean
            transfer of rights of intellectual property from us to the user.
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="terms-use-con">
          <h4 class="dot">
            Rejection and Termination of relations with anti-social forces
          </h4>
          <p>
            We believe that as our user of ESimExpress services which is a US based
            company, that you wish to have no terms or connection with
            anti-social forces and will work to follow norms that eliminate
            relations with such forces (including mafia, anti social and violent
            groups with intimidatory forms of means to extract monies, or
            blackmailing people or use violent forms for political, regional and
            any form or economical reasons engaging in activities, but not
            limited to “Organised Crime Groups or their members” as defined in
            the US laws and regulations). As part of such compliance, the user
            shall ensure that in personal capacity or his/her employees,
            officers and or stakeholders:
          </p>
          <ul>
            <li>
              Have no terms or relations in any connected manner with anti
              socialforces.
            </li>
            <li>
              Are not involved or look forward towards providing any form of
              financial assistance to anti-social forces for any reason
              whatsoever.
            </li>
            <li>
              Do not intend to use and or hire services of any such anti-social
              force and offer them any form of work appointment or directorship
              with you.
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12">
        <div class="terms-use-con">
          <h4 class="dot">Severability</h4>
          <p>
            If any of laid Terms is found to be invalid or cannot be enforced,
            then he meaning of such Term shall be construed, to the extent
            possible therefore making it as much forceable if not totally
            feasible.
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="terms-use-con">
          <h4 class="dot">Marketing</h4>
          <ul>
            <li>
              As and when needed, we may at regular intervals for purpose to
              inform you, shall send details about our products and services. If
              you wish to be not informed about such service updates, you can
              write to us at (support&#64;esim.su).
            </li>
            <li>
              We may be needed to compile and release your user information,
              treated as one of our users, and you as a user of our services on
              any anonymous basis as part of a customer profile or similar
              analysis or report.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<div style="height: 60px"></div>

